<h1>Welcome to my Travel Site</h1>
<p>This is my very awesome travel site.</p>

<p>My homeland is Earth</p>

Countries I'd like to visit
<ul>
<li>Chile</li>
<li>Brazil</li>
<li>Croatia</li>
</ul>

<%=image_tag "sky-690293_960_720.jpg" , class: "img-responsive" %>